body.theme-dark {
    background-color: #1a1a1a;
    color: #fff;
}

.card.text-white.bg-dark {
    background-color: #1a1a1a;
    border-width: 2px;
}

.table.table-dark {
    background-color: #1a1a1a;
    color: #fff;
}

.navbar-dark {
    background-color: #111;
}

.navbar-dark .nav-link.active {
    color: #e50914;
}
